*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/* Nav-bar styling */
.nav-bar{
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px 30px;
    font-family: "Popins",sans-serif;
    background-color: black;
}
.fa-bars{
 visibility: hidden;
    
}


.nav-bar .max-width{
    max-width:  1300px;
    padding: 0 80px;
    margin: auto;
    position: relative;
}
.nav-bar .logo img{
    height: 40px;
    
}
.nav-bar .menu{
    position: absolute;
    right: 13%;
    top: 30%;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    
}
.nav-bar .menu li{
    display: inline-block;
    list-style: none;
}
.nav-bar .menu li a{
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
   
   
}

.nav-bar .menu li a:hover{
    background-color: #A1FE6B;
    color: black;
    background-size: contain;
    padding-top: 0px;
    
}
.nav-bar .menu li a:active{
    background-color: #A1FE6B;
    color: black;
}
/* Body styling */


.container{
    background-color: #171717;
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}
.bg-images{
    height: inherit;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.bg-img{
    height: inherit;
    width: 100%;
}
.bg-img img{
    height: 50em;
    width: 50em;
    object-fit: cover;
}


.line{
    width: 120px;
    background-color: grey;
    height: 3px;
    margin-top: 8px;
    margin-right: 5px;
}
.mid{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 25%;
}
h4{
    
    font-size: 15px;
    font-weight: bold;
}

.left{
   display: flex;
  
   
}
.left-1 h1{
    align-items: center;
    justify-content: center;
    margin: 31px auto 33px 119px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    
}

/* form{
    position: absolute;
    left:53rem;
    top: 4rem;
} */
input{
    background-color: #171717;
    height: 43px;
    margin-bottom: 18px;
    width: 20em;
    border-color: #A1FE6B;
    color: grey;
    padding-left: 15px;
}
.submit{
    margin-top: 20px ;
    background-color: #A1FE6B;
    color: black;

}
.submit:hover{
    box-shadow: white 4px;
}
i{
    padding-top: 8px;
    cursor: pointer;
}
.fa-eye-slash{
    color: #A1FE6B;
    
    
}

 .fa-eye{
    color: #A1FE6B;
    
}
.right{
    display: flex;
    flex-direction: column;
    height:10px;
    position: absolute;
    left: 55rem;
    top: 0rem;
    
    }
.right>p{
    margin-top: 4px;
    color: grey;
    margin-bottom: 2px;
}

span>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}



/*  */

.form-password{
    position: relative;
}
.form-eye-toggle{
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    right: 0;
}
.form-eye-toggle .fas{
    position: absolute;
    top: 10%;
    left: 0;
}
.form-eye-toggle .fa-eye-slash{
    display: block;
}
.form-eye-toggle.active .fa-eye{
    display: block;
}
.form-eye-toggle.active .fa-eye-slash{
    display: none;
}
.form-eye-toggle .fa-eye{
    display: none;
}
form>p{
    color: grey;
}
.fab{
    font-size: 25px;
    
}
.fa-facebook {
    margin: 2px 5px 5px 0px;
    color: #A1FE6B;
    
    width: 24px;
}
.fa-google{
    margin: 2px 5px 5px 0px;
    color: #A1FE6B;
    width: 24px;
    /* border-radius: #A1FE6B 2px solid; */
}
.fa-linkedin-in{
    margin: 2px 5px 5px 0px;
    color: #A1FE6B;
    width: 24px;
    /* border-radius: #A1FE6B 2px solid; */
}
 @media only screen and (max-width:700px){
    .nav-bar{
        padding: 10px 0px;
    }
    .nav-bar .logo img{
        height: 40px;
        
    }
    .nav-bar .max-width{
        padding: 0px 20px;
    }
    .nav-bar .menu li{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        opacity: 100%;
        margin-top: 20px;
        
    
        
    }
    .nav-bar .menu{
        
        position: absolute;
        right: 0%;
        top: 0%;
        height: 100vh;
        width: 100vw;
        background-color: #1d1d1d;
        opacity: 90%;
        display:none;
        
    }
    .change{
        display: none;
        
    }
     .menu.change{
     display:block;
     }
    

    .nav-bar a{
        color:#A1FE6B;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        
    }
  
    
    .nav-bar .menu li a{
        margin: 10px;
        font-size: 20px;
        font-weight: 600;
       
       
    }

    .link{
        position: relative;
        padding: 3px 0px;
        display: inline-block;
    }
    .link::before,
    .link::after{
        content: "";
        width: 100%;
        height: 3px;
        background-color: #A1FE6B;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;

         
    }
    .link::after{
        bottom: 0;
        transform-origin: right;
    }
    .link::before{
        top: 0px;
        transform-origin: left;
    }
    
     .fa-bars{
        visibility: visible;
        color: white;
        position: absolute;
        top: 10%;
        right: 5%;
        font-size: 20px;

     }
     .link:hover::before,
     .link:hover::after{
         transform: scaleX(1);
     }
     
    .container{
            background-color: #171717;
            position: relative;
            display: flex;
            height: 100vh;
            overflow: hidden;
    }
    .bg-images{
            height: inherit;
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
       }
        .bg-img{
            height: inherit;
            width: 30%;
        }
        .bg-img img{
            height: 45em;
            width: 35em;
            object-fit: cover;
        }
        .bg-img-2{
            visibility: hidden;
        }
        .bg-img-1{
            transform: rotateZ(-75deg);
            
        }
        .left-1 h1{
            align-items: center;
            justify-content: center;
            margin: 18px auto 33px 62px;
            text-transform: uppercase;
            font-weight: bolder;
            letter-spacing: 3px;
            
        }
        .right{
            display: flex;
            flex-direction: column;
            height:10px;
            position: absolute;
            left: 2rem;
            top: 17rem;
            
            }
        
        
    
    .line{
        width: 60px;
        background-color: grey;
        height: 3px;
        margin-top: 10px;
        margin-right: 5px;
    }
    .mid{
        font-family: "Montserrat", sans-serif;
        position: absolute;
        top: 14%;
        }
        input{
            background-color: #171717;
            height: 43px;
            margin-bottom: 18px;
            width: 20em;
            border-color: #A1FE6B;
            color: grey;
            padding-left: 15px;
        }
        .submit{
            margin-top: 10px ;
            background-color: #A1FE6B;
            color: black;
        
        }
        
} 
